<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel da Cozinha</title>
    <?php
        use App\Helpers\Vite;
        echo Vite::tag('resources/js/pages/cozinha.js');
    ?>
</head>
<body>

<header class="cz-header">
    <div class="cz-logo">🍽️ Painel da Cozinha</div>
    <div class="cz-stats">
        <div id="cz-badge-pedidos" class="cz-badge destaque">0 Pedidos</div>
       <!-- <div id="cz-badge-preparo" class="cz-badge">0 Em preparo</div>
        <div id="cz-badge-prontos" class="cz-badge">0 Prontos</div>-->
    </div>
</header>

<section id="cz-grid" class="cz-grid">
    <!-- Cards inseridos dinamicamente pelo cozinha.js -->
</section>

</body>
</html>