{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="/cliente/lista">Lista de clientes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes do cliente</li>
</ol>
{% endblock %}

{% block main %}
<form id="form">
    <input type="hidden" id="action" name="action" value="{{ action }}">
    <input type="hidden" id="id"     name="id"     value="{{ id }}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/cliente/lista" class="btn btn-warning">
                        <i class="fa-solid fa-chevron-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input autofocus type="text" class="form-control"
                                    id="numeroDocumento" name="numeroDocumento"
                                    placeholder="CPF ou CNPJ"
                                    value="{{ customer.cpf_cnpj }}" required>
                                <label for="numeroDocumento">CPF ou CNPJ</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    id="nomeExibicao" name="nomeExibicao"
                                    placeholder="Nome ou nome fantasia"
                                    value="{{ customer.nome_fantasia }}" required>
                                <label for="nomeExibicao">Nome ou nome fantasia</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    id="nomeLegal" name="nomeLegal"
                                    placeholder="Sobrenome ou razão social"
                                    value="{{ customer.sobrenome_razao }}">
                                <label for="nomeLegal">Sobrenome ou razão social</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    id="registroSecundario" name="registroSecundario"
                                    placeholder="RG ou Inscrição Estadual"
                                    value="{{ customer.rg_ie }}">
                                <label for="registroSecundario">RG ou Inscrição Estadual</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    id="dataRegistro" name="dataRegistro"
                                    placeholder="Nascimento ou fundação"
                                    value="{{ customer.nascimento_fundacao
                                        ? customer.nascimento_fundacao | date('d/m/Y')
                                        : '' }}">
                                <label for="dataRegistro">Nascimento ou fundação</label>
                            </div>
                        </div>

                        <div class="form-group mt-1">
                            <div class="icheck-primary d-inline">
                                <input type="hidden" name="ativo" value="false">
                                <input class="form-check-input" type="checkbox"
                                    id="ativo" name="ativo" value="true"
                                    {% if action == 'e' %}{% if customer.ativo %}checked{% endif %}{% else %}checked{% endif %}>
                                <label for="ativo">Ativo?</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <button id="insert" type="button" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/customer.js') }}
{% endblock %}