{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lista de pedidos</li>
</ol>
{% endblock %}

{% block main %}
<div class="row mb-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Lista de pedidos</h4>
        <a href="/pedido/virtual" class="btn btn-success">
            <i class="fa-solid fa-motorcycle me-1"></i> Novo Pedido Virtual
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover" id="table-pedido">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Destino</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Criado em</th>
                            <th>Atualizado em</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="form">
    <input type="hidden" name="id" id="id">
</form>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/list-pedido.js') }}
{% endblock %}