{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lista de clientes</li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="/cliente/detalhes" class="btn btn-outline-success">
                    <i class="fa-solid fa-plus"></i>
                    Cadastro
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover" id="table-customer">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>CPF | CNPJ</th>
                            <th>Nascimento | Fundação</th>
                            <th>Ativo?</th>
                            <th>Criado em</th>
                            <th>Atualizado em</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="form">
    <input type="hidden" name="id" id="id">
</form>

<!-- Modal PDF Cliente -->
<div class="modal fade" id="modalPdfCliente" tabindex="-1" aria-labelledby="modalPdfClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPdfClienteLabel">
                    <i class="fa-solid fa-file-pdf me-2 text-info"></i>
                    Ficha do Cliente
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="pdf-content-cliente">
                <div class="text-center py-4">
                    <div class="spinner-border text-info" role="status"></div>
                    <p class="mt-2">Carregando...</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-1"></i> Fechar
                </button>
                <button type="button" class="btn btn-info text-white" id="btn-imprimir-pdf-cliente">
                    <i class="fa-solid fa-print me-1"></i> Imprimir / Salvar PDF
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/list-customer.js') }}
{% endblock %}