<nav class="navbar navbar-expand-lg app-navbar">
    <div class="container-fluid app-navbar-container">
        <a class="navbar-brand app-navbar-brand" href="/home">
            <span class="brand-mark">AP</span>
            <span class="brand-text">AllPratto</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav app-navbar-center mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/cardapio">Cardápio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedido/lista">Pedido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mesa/lista">Mesa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedido/cozinha">Cozinha</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Cadastro</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/cliente/lista">Cliente</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/product/lista">Produto</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/supplier/lista">Fornecedor</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/company/lista">Empresa</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/users/lista">Usuários</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/payment/lista">Formas de Pagamento</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav app-navbar-right mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/logout" class="nav-link logout-link">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>